torch==2.3.1
transformers==4.44.2

torchvision
uvicorn
opencv-python
langchain
langchain-chroma
langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-unstructured
gradio
openai
python-docx
pymupdf
rapidocr-onnxruntime
unstructured
pillow
accelerate
tiktoken
faiss-cpu
pycocotools
timm
accelerate
bitsandbytes
sse-starlette
vllm==0.5.3.post1
