--index-url https://pypi.tuna.tsinghua.edu.cn/simple

torch==2.3.1
transformers==4.44.2
vllm==0.5.3.post1
uvicorn
fastapi
langchain
langchain_huggingface
langchain_community
pydantic
asyncio
sse_starlette
